.cont {
    border: 2px solid #ddd;
    background-color: #e1e6e9;
    box-shadow: 0 2px 14px 7px rgba(97, 97, 97, 0.65);
    background-color: white;
    padding: 2.5rem;
    padding-top: 1.5rem;
}

.head {
    text-align: center;
}

.snohead {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.sno {
    color: #e10e0e;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.tablecss {
    background-color: rgb(167, 217, 240);
}

.tablecss td {
    border: 4px solid rgb(232, 237, 240);
    text-align: center;
}

.tablehead {
    background: black;
}

.tablehead th {
    color: #ddd;
}

.tabecont {
    margin-left: 2rem;
    margin-right: 2rem;
}